<p-toolbar [style]="{'background-image': 'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))' }">
  <ng-template pTemplate="start">
    <div class="flex flex-row align-items-center gap-2">
      <div routerLink="/home"
        class="p-link inline-flex justify-content-center align-items-center h-3rem hover:bg-white-alpha-10 transition-all transition-duration-200">
        <span class="m-2 text-xl font-bold text-white">羽球選手姿勢平衡辨識系統</span>
      </div>
      <div routerLink="/ir"
        class="p-link inline-flex justify-content-center align-items-center h-3rem hover:bg-white-alpha-10 transition-all transition-duration-200">
        <span class="text-bold text-white text-xl m-2">查看紀錄</span>
      </div>
      <div routerLink="/upload"
        class="p-link inline-flex justify-content-center align-items-center h-3rem hover:bg-white-alpha-10 transition-all transition-duration-200">
        <span class="text-bold text-white text-xl m-2">影像分析</span>
      </div>
      <div routerLink="/cam"
        class="p-link inline-flex justify-content-center align-items-center h-3rem hover:bg-white-alpha-10 transition-all transition-duration-200">
        <span class="text-bold text-white text-xl m-2">即時影像辨識</span>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="center">

  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2">
      <!--<p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"/>-->
      <div
        class="p-link inline-flex justify-content-center align-items-center h-3rem w-3rem hover:bg-white-alpha-10 transition-all transition-duration-200">
        <i class="pi pi-sign-out text-white cursor-pointer" routerLink="/login"></i>
      </div>
    </div>
  </ng-template>
</p-toolbar>
