.divider {
  border-right: 1px solid #e5e7eb;
}

.video_card {
  display: flex;
  flex-direction: column;
  height: 100%;

  > * {
    &:first-child {
      flex: 1 1 auto;
    }

    &:nth-child(2) {
      margin-top: 10px;
    }
  }
}
