<div class="p-2 h-full">
  <div class="flex justify-content-center h-full">
    <div class="col-8 flex flex-column gap-2">
      <div class="flex justify-content-end mt-2">
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input type="text" pInputText [(ngModel)]="search" (ngModelChange)="onSearchChange()"/>
        </span>
      </div>

      <p-table [value]="filteredVideos"
               [scrollable]="true"
               [scrollHeight]="scrollHeight"
               [loading]="loading">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">影片名稱
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>狀態</th>
            <th pSortableColumn="created_at">上傳日期
              <p-sortIcon field="created_at"></p-sortIcon>
            </th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-video>
          <tr>
            <td style="width:50%">{{ video.name }}</td>
            <td style="width:10%">
              <p-tag [value]="getStatusTag(video.status).value"
                     [styleClass]="getStatusTag(video.status).styleClass"></p-tag>
            </td>
            <td style="width:30%">{{ video.created_at }}</td>
            <td style="width:5%">
              <p-button *ngIf="video.status === 'completed'"
                        icon="pi pi-eye"
                        pTooltip="查看"
                        [rounded]="true"
                        [text]="true"
                        severity="secondary"
                        (onClick)="viewVideo(video)"></p-button>
            </td>
            <td style="width:5%">
              <p-button icon="pi pi-trash"
                        pTooltip="刪除"
                        [rounded]="true"
                        [text]="true"
                        severity="secondary"
                        (onClick)="deleteVideo(video, $event)"></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" class="text-center">找不到符合條件的影片</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
